<p id="notice"><%= notice %></p>

<h2>Forum</h2>
<ul>
  <% @topic.post_wrappers.each do |pw| %>
    <li><%= pw.post.title %> Offset: <%= pw.offset %></li>
  <% end %>
</ul>

<%= link_to 'Back', topics_path, class: "btn-flat"%>
