<ul class="collection with-header">
  <li class="collection-header"><h4>Notifications</h4></li>
  <% if @notifications.length > 0 %>
      <% @notifications.each do |notification| %>
          <%= render partial: 'notifications/notification', locals: {notification: notification} %>
      <% end %>
  <% end %>
</ul>
